<% if (messages.success) { %>
    <div class="flash-message"><%= messages.success[0] %></div>
  <% } %>
  <% if (messages.error) { %>
    <div class="flash-message error"><%= messages.error[0] %></div>
  <% } %>
  